$primary: #161512;
$secondary: #666666;

$accent1: #3692e7;

$secondary-shadow: scale-color($secondary, $lightness: -60%);
$secondary-accent1: mix($secondary, $accent1, 50%);

$border-radii: 5px;

$square-size: 40px;