// $primary: #161512;
$primary: #111111;
$secondary: #666666;

$accent1: #3692e7;
$accent2: #4da761;
$accent3: #a74d4d;

$secondary-shadow: scale-color($secondary, $lightness: -60%);
$secondary-accent1: mix($secondary, $accent1, 50%);
$secondary-accent2: mix($secondary, $accent2, 50%);

$text-primary: #dfdfdf; 
$text-secondary: #9e9e9e;
$text-tertiary: scale-color($accent1, $alpha: -10%);

$border-radii: 5px;
$square-size: 40px;

:export {
    textPrimary: $text-primary;
    textSecondary: $text-secondary;

    accent1: $accent1;
    accent2: $accent2;
    accent3: $accent3;
    squareSizeInt: $square-size / ($square-size * 0 + 1);
}